<%= link_to 'Upload file', new_user_file_path(current_user) %>

<h3><%= link_to 'Public_files', controller: 'files', action: 'public_files' %></h3>
<h5>Your attachments</h5>
<table>
  <tr>
    <th>File name</th>
    <th>Shared with</th>
    <th>Actions</th>
  </tr>
<% current_user.attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.file_name %></td>
    <td><%= if attachment.public
              'Public'
            else
              'Private'
            end
            %></td>
    <td>
      <%= link_to 'Download',  url_for(action: 'download_file',
                                       controller: 'files',
                                       id: attachment.id,
                                       user_id: current_user.id) %>
      <%= link_to 'Show', user_file_path(current_user, attachment) %>
      <%= link_to 'Edit', edit_user_file_path(current_user, attachment) %>
      <%= link_to 'Delete', user_file_path(current_user, attachment), method: 'DELETE' %>
    </td>
  </tr>
<% end %>
</table>
