<h3>Update Attachment</h3>
<%= form_for :attachment, url: file_path(@attachment), html: { method: 'PUT' } do |f| %>
  <p>
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name, required: true %>
  </p>

  <p>
    <%= f.label :public %><br>
    <%= f.check_box :public %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
