<h1>File Upload</h1>
<%= form_for :attachments, url: files_path, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name, required: true %>
  </p>

  <p>
    <%= f.label :public %><br>
    <%= f.check_box :public, checked:true %>
  </p>

  <p>
    <%= f.label :file_upload %><br>
    <%= f.file_field :file_upload, required: true %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
