<h2>Uploaded file</h2>

Name: <%= @attachment.file_name %><br />
Shared: <% if @attachment.public %>
          Publicly
        <% else %>
          Privately
        <% end %> <br />
Uploaded by: <%= @user.email %>
<br />
<br />
<br />
<a href="<%= url_for(controller: 'files',
                     action: 'download_file',
                     id: @attachment.id)%>">Download</a>
<%= link_to 'Edit', edit_user_file_path(@user, @attachment) %>
<%= link_to 'Delete', user_file_path(@user, @attachment), method: 'DELETE' %>
<%= link_to 'Show all uploads', user_path(@user) %>
